<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <ul class="list-unstyled">
        <!--No '=' sign for the .each loop since we don't want the whole array to be rendered-->
        <% @users.each do |user| %>
          <% if user.profile %>
            <li>
              <!--We need the 'row' class to ensure our columns show up inside the well-->
              <!--The 'cycle' method allows us to cycle through some options, in this case a CSS class called 'white-bg'-->
              <div class="well row <%= cycle('white-bg', '') %>">
                <div class="col-sm-4">
                  <% if user.profile.avatar %>
                    <!--Creating links to the user's profile on each avatar-->
                    <%= link_to user do %>
                      <%= image_tag user.profile.avatar.url, class: 'user-index-avatar' %>
                    <% end %>
                  <% end %>
                </div>
                
                <div class="col-sm-8">
                  <%= link_to user do %>
                    <h2><%= user.profile.first_name %> <%= user.profile.last_name %></h2>
                  <% end %>
                  <p><%= user.profile.job_title %></p>
                </div>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>