<div class="container">
  <div class="row">
    <div class="col-md-3 text-center">
      <%= image_tag @user.profile.avatar.url, class: 'avatar-show-img' %>
    </div>     
    <div class="col-md-6">
      <h1><%= @user.profile.first_name %> <%= @user.profile.last_name %></h1>
      <h3><span class="job-title-icon"><%= job_title_icon %></span><%= @user.profile.job_title %></h3>
      <div class="well profile-block">
      <h3>Description</h3>
        <%= @user.profile.description %>
      </div>
    </div>
    
    <% if current_user.plan_id == 2 %>
      <div class="col-md-3">
        <h3>Contact Details</h3>
        <div class="well contact-block">
          <p>Phone: <%= @user.profile.phone_number %></p>
          <p>Email: <%= @user.profile.contact_email %></p>
        </div>
      </div>
    <% elsif current_user.plan_id == 1 %>
      <div class="col-md-3">
        <h3>Contact Details</h3>
        <div class="well contact-block">
          <h4>Upgrade to premium to see this user's contact information!</h4>
        </div>
      </div>
    <% end %>
  </div>
</div>