<!DOCTYPE html>
<html>
  <head>
    <title>Saasapp</title>
    <%= csrf_meta_tags %>
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700,800" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class='container'>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path, class: "navbar-brand" do %>
              <i class ="fa fa-group"></i>
              DevMatch
          <% end %>
        </div>
        <div class="collapse navbar-collapse" id="main-nav-collapse">
          <div class="nav navbar-nav navbar-right">
            <ul class="nav navbar-nav navbar-right">  
              <!--if statement to handle conditional logout button-->
              <!--'method' required for a 'DELETE' on a link - normally a 'GET'-->
              <% if user_signed_in? %>
                <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete%></li>
              <% else %>
                <li><%= link_to "Log In", user_session_path %></li>
                <li><%= link_to "Sign Up", new_user_registration_path%></li>
              <% end %>
              <li><%= link_to "About", about_path %></li>
              <!--Find the route below using $ rails routes, where the "new_contact" is the GET method for the /contacts/new page-->
              <li><%= link_to "Contact Us", new_contact_path %></li>
            </ul>
            </div>  
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    
    <!--Showing error messages here to guarantee we're showing errors no matter where we re-direct users to-->
    <!--"Flash" is to show the notices as outlined in the ContactsController-->
    <!--There is no "=" after the ruby tag since this should not be output until there is a value in the "type" and "message" values-->
    <!--(Entering a "=" will cause the page to show a blank hash '{}' and to double the alerts rather than only showing once and applying our classes below-->
    <!--'Type' is akin to 'key', and 'msg' is akin to the error 'value'-->
    <div class="container">
      <% flash.each do |type, msgs| %>
        <!--'content_tag' allows us to have rails insert an HTML tag (div) into our code-->
        <!--Using string interpolation, you can inject the 'type' into the class to show which class to use based on success or danger-->

          <%= content_tag :div, msgs, class: "alert alert-#{type}" %>

      <% end %>
    </div>
    
    
    <%= yield %>

  
  </body>
</html>
